config.py
commands/__pycache__/characterInfo.cpython-311.pyc
commands/__pycache__/dict.cpython-311.pyc
commands/__pycache__/number.cpython-311.pyc
commands/__pycache__/profile.cpython-311.pyc
commands/__pycache__/register.cpython-311.pyc
commands/__pycache__/testButton.cpython-311.pyc
commands/__pycache__/testMenu.cpython-311.pyc
